#logo {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

#logo-subtitle {
    float: left;
    margin-left: 205px;
    margin-top: 120px;
    position: absolute;
}


#logo-title {
    float: left;
    margin-left: 205px;
    margin-top: 15px;
    position: absolute;
}

.top20 {
    margin-top: 20px;
}

.no-color-padding-top {
    background-color: white;
    padding-top: 0;
}

#index-carousel .carousel-caption {
    color: black;
    right: 8%;
    text-align: center;
    max-width: 25%;
    max-height: 70%;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    background: rgba(255,255,255, 0.55);
}

.opaq {
    background: rgba(0, 0, 0, 0);
}

.container .jumbotron.small-padding {
    padding: 5px 10px 5px 10px;
}

h4.bs-callout-danger,h5.bs-callout-danger {
    color: #ce4844;
}

.bs-header-white {
    color: white;
}

.win7-menu-holder{height:206px; width:206px; margin-top:40px; margin-left:40px;}
.element1{background:#1b1c1e; margin:1px; width:100px; height:100px; float:left;}
.element1 a{background:#1b1c1e url(../pics/pencil.png) 50% 50% no-repeat; width:100px; height:100px; display:block; opacity: 0.5;}
.element1 a:hover {background:#d52b2a url(../pics/pencil.png) 50% 50% no-repeat !important; opacity: 1.0;}

.element2{background:#1b1c1e; margin:1px; width:100px; height:100px; float:left;}
.element2 a{background:#1b1c1e url(../pics/contact2.png) 50% 50% no-repeat; width:100px; height:100px; display:block; opacity: 0.5;}
.element2 a:hover {background:#d52b2a url(../pics/contact2.png) 50% 50% no-repeat !important; opacity: 1.0;}

.element3{background:#1b1c1e; margin:1px; width:100px; height:100px; float:left;}
.element3 a{background:#1b1c1e url(../pics/you_tube.png) 50% 50% no-repeat; width:100px; height:100px; display:block; opacity: 0.5;}
.element3 a:hover {background:#d52b2a url(../pics/you_tube.png) 50% 50% no-repeat !important; opacity: 1.0;}

.element4{background:#1b1c1e; margin:1px; width:100px; height:100px; float:left;}
.element4 a{background:#1b1c1e url(../pics/vk.png) 50% 50% no-repeat; width:100px; height:100px; display:block; opacity: 0.5;}
.element4 a:hover {background:#d52b2a url(../pics/vk.png) 50% 50% no-repeat !important; opacity: 1.0;}

.gray-text {
    color: #aaa;
}